
// Guardamos los colores para cambiarlos fácilmente
$color-fondo: #1a1a1a;
$color-texto: #ffffff;
$color-acento: #e8a020; 
$espacio: 20px;

// General styles
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: $color-fondo;
    color: $color-texto;
    line-height: 1.6;
}

// Flexbox for divide navbar and logo
header{
    background-color: #000;
    padding: 1rem 5%;
    display: flex;            
    justify-content: space-between; 
    align-items: center;      

    .logo {
        font-weight: bold;
        font-size: 1.2rem;
        color: $color-acento;
    }

    nav {
        display: flex;        
        gap: 15px;             

        a {
            color: $color-texto;
            text-decoration: none;
            &:hover {
                color: $color-acento;
            }
        }
    }
}

// HERO section 
.hero {
    height: 60vh;
    display: flex;             
    flex-direction: column;    
    justify-content: center;   
    align-items: center;       
    text-align: center;
    background: url('images/doral.jpeg');

    h1 {
        font-size: 3rem;
        margin-bottom: 10px;
        color: $color-fondo;
        border: solid $color-acento;
        background-color: #e8a020;
        border-radius: 10px;
        padding: 0 10px;
    }
    p{
        color:$color-fondo;
        border: solid $color-acento;
        background-color: #e8a020;
        border-radius: 10px;
        padding: 0 10px;
    }


    .button {
        background-color: $color-acento;
        color: black;
        padding: 10px 25px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }
}

// GRID Sections
main {
    padding: 50px 5%;
    display: grid;             
    grid-template-columns: 2fr 1fr; 
    gap: 30px;             
    align-items: start;


    section {
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #252525;
        padding: $espacio;
        border-radius: 10px;
        align-items: center;
    }

    h2 {
        color: $color-acento;
        border-bottom: 2px solid $color-acento;
        padding-bottom: 10px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 2px solid #444;
    }
}
.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
        img{
        height: auto;
        width: 800px;
        border-radius: 20px;
    }
}
.gallery{
    li{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width:350px;
            height: 250px;
            margin: 10px 10px;
            border-radius: 15px;

        }
    }
}

// FOOTER
footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #000;
    font-size: 0.9rem;
    a{
        text-decoration: none;
    }
}

//Renponsive landing page for mobile 
@media(max-width: 600px){ //Renponsive landing page for mobile 
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .about-us{
        img{
            height: auto;
            width: 350px;
            border-radius: 20px;
        }
    }
}
